.ImageUpload {
  text-align: center;
  background: white;
  color: #333;
  padding: 20px;
  display: block;
  margin: auto;

}
.DropZone {
  margin: auto;
  width:20%;
  background: white;

}

.btn {
  margin-top: 20px;

}
